/* Default sidebar styles for desktop */
.sidebar {
  margin-top: 0;
  width: 250px;
  flex: 1;
  height: calc(100vh - 0px);
  background: rgb(251, 251, 255);
  position: sticky;
  top: 0;
  font-family: 'Nunito', sans-serif;
  transition: width 0.3s ease, background 0.3s ease;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarListItem {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.sidebarListItem.active {
  border-right: 5px solid rgba(42, 102, 176, 1);
  color: rgba(42, 102, 176, 1);
  background: #f0f0f0;
}

.sidebarListItem:hover {
  background: #f8f8f8;
  color: rgba(42, 102, 176, 1);
}

.sidebarLink {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebarIcon {
  margin-right: 20px;
  font-size: 18px;
}

.logOut {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.menuButton {
  position: fixed;
  top: px;
  left: 6px;
  z-index: 1001; /* Ensure the button is above the sidebar */
  display: none; /* Initially hidden, shown only on mobile and tablet */
  background: rgb(163, 196, 236);
  color: white;
  border: none;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

/* MEDIA QUERIES */

/* For tablets (landscape and portrait) */
@media only screen and (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .sidebar {
    width: 0; /* Hide sidebar by default */
    height: 100%;
    background: rgba(42, 102, 176, 1); /* Transparent background */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Place on top of content */
    overflow-x: hidden;
    transition: width 0.3s ease;
  }

  .sidebar.open {
    width: 250px; /* Sidebar slides in */
  }

  .sidebarWrapper {
    padding: 15px;
  }

  .sidebarListItem {
    padding: 12px;
    font-size: 13px;
  }

  .sidebarIcon {
    margin-right: 15px;
    font-size: 16px;
  }
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
  .sidebar {
    width: 0%; /* Hidden by default */
    height: 26%;
    background: rgb(163, 187, 219); /* Transparent background */
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Place on top of content */
    overflow-x: hidden;
    transition: width 0.3s ease, background 0.3s ease;
  }

  .sidebar.open {
    width: 360px; /* Sidebar slides in when open */
  }

  .sidebarWrapper {
    padding: 10px;
  }

  .sidebarListItem {
    justify-content: center;
    padding: 10px;
    font-size: 20px;
  }

  .sidebarIcon {
    margin-right: 0;
    font-size: 14px;
  }

  .sidebarListItem.active {
    border-right: none;
    border-bottom: 2px solid rgba(42, 102, 176, 1);
  }

  .logOut {
    padding-top: 10px;
  }
}
